<body>
<center>
<div class="plyr"> 

<iframe width="854" height="480" src="https://www.youtube.com/embed/N1qQZ4ZGTXM" frameborder="0" allow="autoplay;  vertical-align: middle; encrypted-media" allowfullscreen>
</iframe>

</div> 


<h2> <%= link_to "Join us(҂` ﾛ ´)凸",signup_path, class: "btn btn-lg btn-primary" %>  </h2>
 
</center>

</body>