<body>
<div class="plyr"> 
<center>
<iframe width="854" height="480" src="https://www.youtube.com/embed/N1qQZ4ZGTXM" frameborder="0" allow="autoplay;  vertical-align: middle; encrypted-media" allowfullscreen></iframe>
</center>
</div>
<play>
<div id="cp_widget_930a1553-8d5d-4ab1-a93f-fd8c1b8a9816">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_930a1553-8d5d-4ab1-a93f-fd8c1b8a9816"; cpo["_fid"] = "AkBAyLulsuBd";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2018/1/29</span></noscript>
</play>
<!-- Place somewhere in the <body> of your page -->

</div>

    <h2>
     </h2>
 <a> <%= link_to "Join us(҂` ﾛ ´)凸",signup_path, class: "btn btn-lg btn-primary" %> </a>
</div>
</body>