<body>
<center>

<iframe width="854" height="480" src="https://www.youtube.com/embed/_acIa6Dy5II?list=RDEjYYfIf762I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h2> <%= link_to "Join us(҂` ﾛ ´)凸",signup_path, class: "btn btn-lg btn-primary" %>  </h2>
 
</center>

</body>